{% load i18n sizeformat %}
{% load url from future %}

<h3>{% trans "Bare Metal Overview" %}</h3>

<div class="status row-fluid detail">
  <h4>{% trans "Info" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ instance.name }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ instance.id }}</dd>
  </dl>
</div>

<div class="specs row-fluid detail">
  <h4>{% trans "Specs" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Architecture" %}</dt>
    <dd>{{ instance.properties.arch }}</dd>
    <dt>{% trans "RAM" %}</dt>
    <dd>{{ instance.properties.ram|mbformat }}</dd>
    <dt>{% trans "CPUs" %}</dt>
    <dd>{{ instance.properties.cpus }} {% trans "CPU" %}</dd>
    <dt>{% trans "Disk" %}</dt>
    <dd>{{ instance.properties.disk }} {% trans "GB" %}</dd>
  </dl>
</div>

<div class="addresses row-fluid detail">
  <h4>{% trans "IP Addresses" %}</h4>
  <hr class="header_rule">
  <dl>
    {% for network, ip_list in instance.addresses.items %}
    <dt>{{ network|title }}</dt>
    <dd>
      {% for ip in ip_list %}
        {% if not forloop.last %}{{ ip.addr}},&nbsp;{% else %}{{ip.addr}}{% endif %}
      {% endfor %}
    </dd>
    {% endfor %}
  </dl>
</div>

<div class="security_groups row-fluid detail">
  <h4>{% trans "Security Groups" %}</h4>
  <hr class="header_rule">
  <dl>
  {% for group in instance.security_groups %}
    <dt>{{ group.name }}</dt>
    <dd>
      <ul>
      {% for rule in group.rules %}
        <li>{{ rule }}</li>
        {% empty %}
        <li><em>{% trans "No rules defined." %}</em></li>
      {% endfor %}
      </ul>
    </dd>
  {% endfor %}
  </dl>
</div>

<div class="meta row-fluid detail">
  <h4>{% trans "Meta" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Key Name" %}</dt>
    {% with default_key_name="<em>"|add:_("None")|add:"</em>" %}
    <dd>{{ instance.key_name|default:default_key_name }}</dd>
    {% endwith %}
    {% url 'horizon:project:images_and_snapshots:images:detail' instance.image.id as image_url %}
    <dt>{% trans "Image Name" %}</dt>
    <dd><a href="{{ image_url }}">{{ instance.image_name }}</a></dd>
    {% with default_item_value="<em>"|add:_("N/A")|add:"</em>" %}
    {% for key, value in instance.metadata.items %}
    <dt>{{ key|force_escape }}</dt>
    <dd>{{ value|force_escape|default:default_item_value }}</dd>
    {% endfor%}
    {% endwith %}
  </dl>
</div>

<div class="volumes row-fluid detail">
    <h4>{% trans "Volumes Attached" %}</h4>
    <hr class="header_rule">
    <dl>
    {% for volume in instance.volumes %}
        <dt>{% trans "Attached To" %}</dt>
        <dd>
            <a href="{% url 'horizon:project:volumes:detail' volume.volumeId %}">
            {% if volume.name %}
                {{ volume.name }}
            {%  else %}
                {{ volume.volumeId }}
            {% endif %}
            </a>
            <span> {% trans "on" %} {{ volume.device }}</span>
        </dd>
        {% empty %}
        <dt>{% trans "Volume" %}</dt>
        <dd><em>{% trans "No volumes attached." %}</em></dd>
    {% endfor %}
    </dl>
</div>
